################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQTurtorial/RabbitMQ.Consumer/obj
/RabbitMQTurtorial/.vs/RabbitMQTurtorial/v16
/.vs
/RabbitMQTurtorial/RabbitMQ.Producer/obj
/RabbitMQTurtorial/RabbitMQ.Producer/bin/Debug/netcoreapp3.1
/RabbitMQTurtorial/RabbitMQ.Consumer/bin/Debug/netcoreapp3.1
